body {
    background-color: powderblue;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: black;
    font: Serif;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    align-items: center;
}

.name h1 {
    background-color: black;
    padding: 5px 5px 5px 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.name a {
    color: white;
    text-decoration: none;
    margin: 5px 5px 5px 5px;
}

.name a:hover {
    color: gray;
}

.banner-links {
    background-color: black;
    text-align: right;
    margin-right: 5%;
    padding: 5px 5px 5px 5px;
}

.banner-links a {
    color: white;
    text-decoration: none;
}

.banner-links a:hover {
    color: gray;
}